judul{
    text-align: center;
    color:white
}
.background{
    background-color: darkslateblue;
}
.text{
    text-transform: 'Gill sans',sans-serif;
    color: greenyellow;
    text-align: center;
}
